.app-container {
  padding: 50px 100px;
  text-align: center;
  color: white;
}

.configuration-container {
  border: solid 1px wheat;
}

.section-container {
  margin: 5px;
  border: solid 0.5px white;
  width: 120px;
  align-items: center;
}

.section-container p {
  font-size: 22px;
}
